 <footer id="footer">
        <div class="container">
            <div class="row d-flex flex-column align-items-center">
                <div class="footer-logo">
                    <h2><span class="my-brend-color"><i class="fas fa-wine-glass-alt"></i></span><span class="my-brend"> Moje<span class="my-brend-color">V</span>ino</span></h2>
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
                <div class="copyright text-center">
                    <p>Copyright 2020</p>
                </div>
            </div>
        </div>
    </footer>